.row
  .large-6.large-centered.columns
    .progress.radius
      %span.meter{style:"width:50%"}
    #person
      = render partial:"form"
    =button_to("Next",new_item_path, :method => "get", :class => "next-btn")